
@{
    ViewBag.Title = "sendfeedback";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<div>
   
    <h4>Thanks for your feedback.<span?>Your comments and suggestions are valuable for us.</span?></h4>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
