
@{
    ViewBag.Title = "viewOrders";
    Layout = "~/Views/Shared/myLayout.cshtml";
}





    <div class="feedback main-grid-border">
        <div class="container">
            <h2 class="w3-head">Order Status</h2>
            <div class="feed-back">

                <div class="feed-back-form">
                    <center>
                        <form action="/Orders/showOrders">
                            <span>Enter Email to View your Order Status </span>

                            <input type="text" value="Enter Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
                            <input type="submit" value="submit" />

                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>


